In [1]:
import findspark

In [2]:
findspark.find()

'C:\\Users\\Dell\\Desktop\\software\\spark-4.0.0-bin-hadoop3'

In [3]:
import pyspark # pyspark is spark written in python 
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
c = pyspark.SparkConf().setAppName("test_app").setMaster("local")
# drivernode and worker node in the smae computer so we are using local 
sc = pyspark.SparkContext(conf = c)
spark = SparkSession(sc) # all the congifurgation is now avaibale in saprk

In [4]:
from pyspark.sql.functions import *

In [5]:
data=spark.read.csv("C:\\Users\\Dell\\Desktop\\Banking.csv",header=True,inferSchema=True,escape='"')

In [6]:
type(data)

pyspark.sql.classic.dataframe.DataFrame

In [7]:
org_data=data # backup so that the data i preseverd from corruption

In [8]:
org_data.count(),len(org_data.columns)

(1048575, 151)

In [9]:
data.count(),len(data.columns)

(1048575, 151)

In [10]:
data.columns

['id',
 'member_id',
 'loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'term',
 'int_rate',
 'installment',
 'grade',
 'sub_grade',
 'emp_title',
 'emp_length',
 'home_ownership',
 'annual_inc',
 'verification_status',
 'issue_d',
 'loan_status',
 'pymnt_plan',
 'url',
 'desc',
 'purpose',
 'title',
 'zip_code',
 'addr_state',
 'dti',
 'delinq_2yrs',
 'earliest_cr_line',
 'fico_range_low',
 'fico_range_high',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'initial_list_status',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_d',
 'last_pymnt_amnt',
 'next_pymnt_d',
 'last_credit_pull_d',
 'last_fico_range_high',
 'last_fico_range_low',
 'collections_12_mths_ex_med',
 'mths_since_last_major_derog',
 'policy_code',
 'application_type',
 'annual_inc_joint',
 'dti_joint',
 'verification_status_joint',
 'acc_now_delinq',
 'tot_coll_amt',
 'tot_cur_bal',
 'open_acc_6m',
 'open_act_il',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'all_util',
 'total_rev_hi_lim',
 'inq_fi',
 'total_cu_tl',
 'inq_last_12m',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'pub_rec_bankruptcies',
 'tax_liens',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit',
 'revol_bal_joint',
 'sec_app_fico_range_low',
 'sec_app_fico_range_high',
 'sec_app_earliest_cr_line',
 'sec_app_inq_last_6mths',
 'sec_app_mort_acc',
 'sec_app_open_acc',
 'sec_app_revol_util',
 'sec_app_open_act_il',
 'sec_app_num_rev_accts',
 'sec_app_chargeoff_within_12_mths',
 'sec_app_collections_12_mths_ex_med',
 'sec_app_mths_since_last_major_derog',
 'hardship_flag',
 'hardship_type',
 'hardship_reason',
 'hardship_status',
 'deferral_term',
 'hardship_amount',
 'hardship_start_date',
 'hardship_end_date',
 'payment_plan_start_date',
 'hardship_length',
 'hardship_dpd',
 'hardship_loan_status',
 'orig_projected_additional_accrued_interest',
 'hardship_payoff_balance_amount',
 'hardship_last_payment_amount',
 'disbursement_method',
 'debt_settlement_flag',
 'debt_settlement_flag_date',
 'settlement_status',
 'settlement_date',
 'settlement_amount',
 'settlement_percentage',
 'settlement_term']

In [11]:
data.show(3)

+--------+---------+---------+-----------+---------------+----------+--------+-----------+-----+---------+------------+----------+--------------+----------+-------------------+-------+-----------+----------+--------------------+----+------------------+------------------+--------+----------+-----+-----------+----------------+--------------+---------------+--------------+----------------------+----------------------+--------+-------+---------+----------+---------+-------------------+---------+-------------+-----------+---------------+---------------+-------------+------------------+----------+-----------------------+------------+---------------+------------+------------------+--------------------+-------------------+--------------------------+---------------------------+-----------+----------------+----------------+---------+-------------------------+--------------+------------+-----------+-----------+-----------+-----------+-----------+------------------+------------+-------+-----------+-----------+----------+--------+----------------+------+-----------+------------+--------------------+-----------+--------------+-------+------------------------+-----------+------------------+--------------------+---------------------+--------------+--------+--------------------+------------------------+---------------------+------------------------------+---------------------+--------------+---------------+-----------+---------+---------+-------------+-------------+-------------------+--------+----------------+------------+------------------+------------------+--------------+----------------+--------------------+---------+---------------+-----------------+--------------+--------------------------+---------------+----------------------+-----------------------+------------------------+----------------------+----------------+----------------+------------------+-------------------+---------------------+--------------------------------+----------------------------------+-----------------------------------+-------------+-------------+---------------+---------------+-------------+---------------+-------------------+-----------------+-----------------------+---------------+------------+--------------------+------------------------------------------+------------------------------+----------------------------+-------------------+--------------------+-------------------------+-----------------+---------------+-----------------+---------------------+---------------+
|      id|member_id|loan_amnt|funded_amnt|funded_amnt_inv|      term|int_rate|installment|grade|sub_grade|   emp_title|emp_length|home_ownership|annual_inc|verification_status|issue_d|loan_status|pymnt_plan|                 url|desc|           purpose|             title|zip_code|addr_state|  dti|delinq_2yrs|earliest_cr_line|fico_range_low|fico_range_high|inq_last_6mths|mths_since_last_delinq|mths_since_last_record|open_acc|pub_rec|revol_bal|revol_util|total_acc|initial_list_status|out_prncp|out_prncp_inv|total_pymnt|total_pymnt_inv|total_rec_prncp|total_rec_int|total_rec_late_fee|recoveries|collection_recovery_fee|last_pymnt_d|last_pymnt_amnt|next_pymnt_d|last_credit_pull_d|last_fico_range_high|last_fico_range_low|collections_12_mths_ex_med|mths_since_last_major_derog|policy_code|application_type|annual_inc_joint|dti_joint|verification_status_joint|acc_now_delinq|tot_coll_amt|tot_cur_bal|open_acc_6m|open_act_il|open_il_12m|open_il_24m|mths_since_rcnt_il|total_bal_il|il_util|open_rv_12m|open_rv_24m|max_bal_bc|all_util|total_rev_hi_lim|inq_fi|total_cu_tl|inq_last_12m|acc_open_past_24mths|avg_cur_bal|bc_open_to_buy|bc_util|chargeoff_within_12_mths|delinq_amnt|mo_sin_old_il_acct|mo_sin_old_rev_tl_op|mo_sin_rcnt_rev_tl_op|mo_sin_rcnt_tl|mort_acc|mths_since_recent_bc|mths_since_recent_bc_dlq|mths_since_recent_inq|mths_since_recent_revol_delinq|num_accts_ever_120_pd|num_actv_bc_tl|num_actv_rev_tl|num_bc_sats|num_bc_tl|num_il_tl|num_op_rev_tl|num_rev_accts|num_rev_tl_bal_gt_0|num_sats|num_tl_120dpd_2m|num_tl_30dpd|num_tl_90g_dpd_24m|num_tl_op_past_12m|pct_tl_nvr_dlq|percent_bc_gt_75|pub_rec_bankruptcies|tax_liens|tot_hi_cred_lim|total_bal_ex_mort|total_bc_limit|total_il_high_credit_limit|revol_bal_joint|sec_app_fico_range_low|sec_app_fico_range_high|sec_app_earliest_cr_line|sec_app_inq_last_6mths|sec_app_mort_acc|sec_app_open_acc|sec_app_revol_util|sec_app_open_act_il|sec_app_num_rev_accts|sec_app_chargeoff_within_12_mths|sec_app_collections_12_mths_ex_med|sec_app_mths_since_last_major_derog|hardship_flag|hardship_type|hardship_reason|hardship_status|deferral_term|hardship_amount|hardship_start_date|hardship_end_date|payment_plan_start_date|hardship_length|hardship_dpd|hardship_loan_status|orig_projected_additional_accrued_interest|hardship_payoff_balance_amount|hardship_last_payment_amount|disbursement_method|debt_settlement_flag|debt_settlement_flag_date|settlement_status|settlement_date|settlement_amount|settlement_percentage|settlement_term|
+--------+---------+---------+-----------+---------------+----------+--------+-----------+-----+---------+------------+----------+--------------+----------+-------------------+-------+-----------+----------+--------------------+----+------------------+------------------+--------+----------+-----+-----------+----------------+--------------+---------------+--------------+----------------------+----------------------+--------+-------+---------+----------+---------+-------------------+---------+-------------+-----------+---------------+---------------+-------------+------------------+----------+-----------------------+------------+---------------+------------+------------------+--------------------+-------------------+--------------------------+---------------------------+-----------+----------------+----------------+---------+-------------------------+--------------+------------+-----------+-----------+-----------+-----------+-----------+------------------+------------+-------+-----------+-----------+----------+--------+----------------+------+-----------+------------+--------------------+-----------+--------------+-------+------------------------+-----------+------------------+--------------------+---------------------+--------------+--------+--------------------+------------------------+---------------------+------------------------------+---------------------+--------------+---------------+-----------+---------+---------+-------------+-------------+-------------------+--------+----------------+------------+------------------+------------------+--------------+----------------+--------------------+---------+---------------+-----------------+--------------+--------------------------+---------------+----------------------+-----------------------+------------------------+----------------------+----------------+----------------+------------------+-------------------+---------------------+--------------------------------+----------------------------------+-----------------------------------+-------------+-------------+---------------+---------------+-------------+---------------+-------------------+-----------------+-----------------------+---------------+------------+--------------------+------------------------------------------+------------------------------+----------------------------+-------------------+--------------------+-------------------------+-----------------+---------------+-----------------+---------------------+---------------+
|68407277|     NULL|     3600|       3600|         3600.0| 36 months|   13.99|     123.03|    C|       C4|     leadman| 10+ years|      MORTGAGE|   55000.0|       Not Verified| Dec-15| Fully Paid|         n|https://lendingcl...|NULL|debt_consolidation|Debt consolidation|   190xx|        PA| 5.91|          0|          Aug-03|           675|            679|             1|                    30|                  NULL|       7|      0|     2765|      29.7|       13|                  w|      0.0|          0.0|4421.723917|        4421.72|         3600.0|       821.72|               0.0|       0.0|                    0.0|      Jan-19|         122.67|        NULL|            Mar-19|                 564|                560|                         0|                         30|          1|      Individual|            NULL|     NULL|                     NULL|             0|         722|     144904|          2|          2|          0|          1|                21|        4981|     36|          3|          3|       722|      34|            9300|     3|          1|           4|                   4|      20701|          1506|   37.2|                       0|          0|               148|                 128|                    3|             3|       1|                   4|                      69|                    4|                            69|                    2|             2|              4|          2|        5|        3|            4|            9|                  4|       7|               0|           0|                 0|                 3|          76.9|             0.0|                   0|        0|         178050|             7746|          2400|                     13734|           NULL|                  NULL|                   NULL|                    NULL|                  NULL|            NULL|            NULL|              NULL|               NULL|                 NULL|                            NULL|                              NULL|                               NULL|            N|         NULL|           NULL|           NULL|         NULL|           NULL|               NULL|             NULL|                   NULL|           NULL|        NULL|                NULL|                                      NULL|                          NULL|                        NULL|               Cash|                   N|                     NULL|             NULL|           NULL|             NULL|                 NULL|           NULL|
|68355089|     NULL|    24700|      24700|        24700.0| 36 months|   11.99|     820.28|    C|       C1|    Engineer| 10+ years|      MORTGAGE|   65000.0|       Not Verified| Dec-15| Fully Paid|         n|https://lendingcl...|NULL|    small_business|          Business|   577xx|        SD|16.06|          1|          Dec-99|           715|            719|             4|                     6|                  NULL|      22|      0|    21470|      19.2|       38|                  w|      0.0|          0.0|   25679.66|       25679.66|        24700.0|       979.66|               0.0|       0.0|                    0.0|      Jun-16|         926.35|        NULL|            Mar-19|                 699|                695|                         0|                       NULL|          1|      Individual|            NULL|     NULL|                     NULL|             0|           0|     204396|          1|          1|          0|          1|                19|       18005|     73|          2|          3|      6472|      29|          111800|     0|          0|           6|                   4|       9733|         57830|   27.1|                       0|          0|               113|                 192|                    2|             2|       4|                   2|                    NULL|                    0|                             6|                    0|             5|              5|         13|       17|        6|           20|           27|                  5|      22|               0|           0|                 0|                 2|          97.4|             7.7|                   0|        0|         314017|            39475|         79300|                     24667|           NULL|                  NULL|                   NULL|                    NULL|                  NULL|            NULL|            NULL|              NULL|               NULL|                 NULL|                            NULL|                              NULL|                               NULL|            N|         NULL|           NULL|           NULL|         NULL|           NULL|               NULL|             NULL|                   NULL|           NULL|        NULL|                NULL|                                      NULL|                          NULL|                        NULL|               Cash|                   N|                     NULL|             NULL|           NULL|             NULL|                 NULL|           NULL|
|68341763|     NULL|    20000|      20000|        20000.0| 60 months|   10.78|     432.66|    B|       B4|truck driver| 10+ years|      MORTGAGE|   63000.0|       Not Verified| Dec-15| Fully Paid|         n|https://lendingcl...|NULL|  home_improvement|              NULL|   605xx|        IL|10.78|          0|          Aug-00|           695|            699|             0|                  NULL|                  NULL|       6|      0|     7869|      56.2|       18|                  w|      0.0|          0.0|22705.92429|       22705.92|        20000.0|      2705.92|               0.0|       0.0|                    0.0|      Jun-17|        15813.3|        NULL|            Mar-19|                 704|                700|                         0|                       NULL|          1|       Joint App|         71000.0|    13.85|             Not Verified|             0|           0|     189699|          0|          1|          0|          4|                19|       10827|     73|          0|          2|      2081|      65|           14000|     2|          5|           1|                   6|      31617|          2737|   55.9|                       0|          0|               125|                 184|                   14|            14|       5|                 101|                    NULL|                   10|                          NULL|                    0|             2|              3|          2|        4|        6|            4|            7|                  3|       6|               0|           0|                 0|                 0|         100.0|            50.0|                   0|        0|         218418|            18696|          6200|                     14877|           NULL|                  NULL|                   NULL|                    NULL|                  NULL|            NULL|            NULL|              NULL|               NULL|                 NULL|                            NULL|                              NULL|                               NULL|            N|         NULL|           NULL|           NULL|         NULL|           NULL|               NULL|             NULL|                   NULL|           NULL|        NULL|                NULL|                                      NULL|                          NULL|                        NULL|               Cash|                   N|                     NULL|             NULL|           NULL|             NULL|                 NULL|           NULL|
+--------+---------+---------+-----------+---------------+----------+--------+-----------+-----+---------+------------+----------+--------------+----------+-------------------+-------+-----------+----------+--------------------+----+------------------+------------------+--------+----------+-----+-----------+----------------+--------------+---------------+--------------+----------------------+----------------------+--------+-------+---------+----------+---------+-------------------+---------+-------------+-----------+---------------+---------------+-------------+------------------+----------+-----------------------+------------+---------------+------------+------------------+--------------------+-------------------+--------------------------+---------------------------+-----------+----------------+----------------+---------+-------------------------+--------------+------------+-----------+-----------+-----------+-----------+-----------+------------------+------------+-------+-----------+-----------+----------+--------+----------------+------+-----------+------------+--------------------+-----------+--------------+-------+------------------------+-----------+------------------+--------------------+---------------------+--------------+--------+--------------------+------------------------+---------------------+------------------------------+---------------------+--------------+---------------+-----------+---------+---------+-------------+-------------+-------------------+--------+----------------+------------+------------------+------------------+--------------+----------------+--------------------+---------+---------------+-----------------+--------------+--------------------------+---------------+----------------------+-----------------------+------------------------+----------------------+----------------+----------------+------------------+-------------------+---------------------+--------------------------------+----------------------------------+-----------------------------------+-------------+-------------+---------------+---------------+-------------+---------------+-------------------+-----------------+-----------------------+---------------+------------+--------------------+------------------------------------------+------------------------------+----------------------------+-------------------+--------------------+-------------------------+-----------------+---------------+-----------------+---------------------+---------------+
only showing top 3 rows

In [12]:
data.printSchema ()

root
 |-- id: string (nullable = true)
 |-- member_id: string (nullable = true)
 |-- loan_amnt: integer (nullable = true)
 |-- funded_amnt: integer (nullable = true)
 |-- funded_amnt_inv: double (nullable = true)
 |-- term: string (nullable = true)
 |-- int_rate: double (nullable = true)
 |-- installment: double (nullable = true)
 |-- grade: string (nullable = true)
 |-- sub_grade: string (nullable = true)
 |-- emp_title: string (nullable = true)
 |-- emp_length: string (nullable = true)
 |-- home_ownership: string (nullable = true)
 |-- annual_inc: double (nullable = true)
 |-- verification_status: string (nullable = true)
 |-- issue_d: string (nullable = true)
 |-- loan_status: string (nullable = true)
 |-- pymnt_plan: string (nullable = true)
 |-- url: string (nullable = true)
 |-- desc: string (nullable = true)
 |-- purpose: string (nullable = true)
 |-- title: string (nullable = true)
 |-- zip_code: string (nullable = true)
 |-- addr_state: string (nullable = true)
 |-- dti: double (nullable = true)
 |-- delinq_2yrs: integer (nullable = true)
 |-- earliest_cr_line: string (nullable = true)
 |-- fico_range_low: integer (nullable = true)
 |-- fico_range_high: integer (nullable = true)
 |-- inq_last_6mths: integer (nullable = true)
 |-- mths_since_last_delinq: integer (nullable = true)
 |-- mths_since_last_record: integer (nullable = true)
 |-- open_acc: integer (nullable = true)
 |-- pub_rec: integer (nullable = true)
 |-- revol_bal: integer (nullable = true)
 |-- revol_util: double (nullable = true)
 |-- total_acc: integer (nullable = true)
 |-- initial_list_status: string (nullable = true)
 |-- out_prncp: double (nullable = true)
 |-- out_prncp_inv: double (nullable = true)
 |-- total_pymnt: double (nullable = true)
 |-- total_pymnt_inv: double (nullable = true)
 |-- total_rec_prncp: double (nullable = true)
 |-- total_rec_int: double (nullable = true)
 |-- total_rec_late_fee: double (nullable = true)
 |-- recoveries: double (nullable = true)
 |-- collection_recovery_fee: double (nullable = true)
 |-- last_pymnt_d: string (nullable = true)
 |-- last_pymnt_amnt: double (nullable = true)
 |-- next_pymnt_d: string (nullable = true)
 |-- last_credit_pull_d: string (nullable = true)
 |-- last_fico_range_high: integer (nullable = true)
 |-- last_fico_range_low: integer (nullable = true)
 |-- collections_12_mths_ex_med: integer (nullable = true)
 |-- mths_since_last_major_derog: integer (nullable = true)
 |-- policy_code: integer (nullable = true)
 |-- application_type: string (nullable = true)
 |-- annual_inc_joint: double (nullable = true)
 |-- dti_joint: double (nullable = true)
 |-- verification_status_joint: string (nullable = true)
 |-- acc_now_delinq: integer (nullable = true)
 |-- tot_coll_amt: integer (nullable = true)
 |-- tot_cur_bal: integer (nullable = true)
 |-- open_acc_6m: integer (nullable = true)
 |-- open_act_il: integer (nullable = true)
 |-- open_il_12m: integer (nullable = true)
 |-- open_il_24m: integer (nullable = true)
 |-- mths_since_rcnt_il: integer (nullable = true)
 |-- total_bal_il: integer (nullable = true)
 |-- il_util: integer (nullable = true)
 |-- open_rv_12m: integer (nullable = true)
 |-- open_rv_24m: integer (nullable = true)
 |-- max_bal_bc: integer (nullable = true)
 |-- all_util: integer (nullable = true)
 |-- total_rev_hi_lim: integer (nullable = true)
 |-- inq_fi: integer (nullable = true)
 |-- total_cu_tl: integer (nullable = true)
 |-- inq_last_12m: integer (nullable = true)
 |-- acc_open_past_24mths: integer (nullable = true)
 |-- avg_cur_bal: integer (nullable = true)
 |-- bc_open_to_buy: integer (nullable = true)
 |-- bc_util: double (nullable = true)
 |-- chargeoff_within_12_mths: integer (nullable = true)
 |-- delinq_amnt: integer (nullable = true)
 |-- mo_sin_old_il_acct: integer (nullable = true)
 |-- mo_sin_old_rev_tl_op: integer (nullable = true)
 |-- mo_sin_rcnt_rev_tl_op: integer (nullable = true)
 |-- mo_sin_rcnt_tl: integer (nullable = true)
 |-- mort_acc: integer (nullable = true)
 |-- mths_since_recent_bc: integer (nullable = true)
 |-- mths_since_recent_bc_dlq: integer (nullable = true)
 |-- mths_since_recent_inq: integer (nullable = true)
 |-- mths_since_recent_revol_delinq: integer (nullable = true)
 |-- num_accts_ever_120_pd: integer (nullable = true)
 |-- num_actv_bc_tl: integer (nullable = true)
 |-- num_actv_rev_tl: integer (nullable = true)
 |-- num_bc_sats: integer (nullable = true)
 |-- num_bc_tl: integer (nullable = true)
 |-- num_il_tl: integer (nullable = true)
 |-- num_op_rev_tl: integer (nullable = true)
 |-- num_rev_accts: integer (nullable = true)
 |-- num_rev_tl_bal_gt_0: integer (nullable = true)
 |-- num_sats: integer (nullable = true)
 |-- num_tl_120dpd_2m: integer (nullable = true)
 |-- num_tl_30dpd: integer (nullable = true)
 |-- num_tl_90g_dpd_24m: integer (nullable = true)
 |-- num_tl_op_past_12m: integer (nullable = true)
 |-- pct_tl_nvr_dlq: double (nullable = true)
 |-- percent_bc_gt_75: double (nullable = true)
 |-- pub_rec_bankruptcies: integer (nullable = true)
 |-- tax_liens: integer (nullable = true)
 |-- tot_hi_cred_lim: integer (nullable = true)
 |-- total_bal_ex_mort: integer (nullable = true)
 |-- total_bc_limit: integer (nullable = true)
 |-- total_il_high_credit_limit: integer (nullable = true)
 |-- revol_bal_joint: integer (nullable = true)
 |-- sec_app_fico_range_low: integer (nullable = true)
 |-- sec_app_fico_range_high: integer (nullable = true)
 |-- sec_app_earliest_cr_line: string (nullable = true)
 |-- sec_app_inq_last_6mths: integer (nullable = true)
 |-- sec_app_mort_acc: integer (nullable = true)
 |-- sec_app_open_acc: integer (nullable = true)
 |-- sec_app_revol_util: double (nullable = true)
 |-- sec_app_open_act_il: integer (nullable = true)
 |-- sec_app_num_rev_accts: integer (nullable = true)
 |-- sec_app_chargeoff_within_12_mths: integer (nullable = true)
 |-- sec_app_collections_12_mths_ex_med: integer (nullable = true)
 |-- sec_app_mths_since_last_major_derog: integer (nullable = true)
 |-- hardship_flag: string (nullable = true)
 |-- hardship_type: string (nullable = true)
 |-- hardship_reason: string (nullable = true)
 |-- hardship_status: string (nullable = true)
 |-- deferral_term: integer (nullable = true)
 |-- hardship_amount: double (nullable = true)
 |-- hardship_start_date: string (nullable = true)
 |-- hardship_end_date: string (nullable = true)
 |-- payment_plan_start_date: string (nullable = true)
 |-- hardship_length: integer (nullable = true)
 |-- hardship_dpd: integer (nullable = true)
 |-- hardship_loan_status: string (nullable = true)
 |-- orig_projected_additional_accrued_interest: double (nullable = true)
 |-- hardship_payoff_balance_amount: double (nullable = true)
 |-- hardship_last_payment_amount: double (nullable = true)
 |-- disbursement_method: string (nullable = true)
 |-- debt_settlement_flag: string (nullable = true)
 |-- debt_settlement_flag_date: string (nullable = true)
 |-- settlement_status: string (nullable = true)
 |-- settlement_date: string (nullable = true)
 |-- settlement_amount: double (nullable = true)
 |-- settlement_percentage: double (nullable = true)
 |-- settlement_term: integer (nullable = true)

In [13]:
data.columns

['id',
 'member_id',
 'loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'term',
 'int_rate',
 'installment',
 'grade',
 'sub_grade',
 'emp_title',
 'emp_length',
 'home_ownership',
 'annual_inc',
 'verification_status',
 'issue_d',
 'loan_status',
 'pymnt_plan',
 'url',
 'desc',
 'purpose',
 'title',
 'zip_code',
 'addr_state',
 'dti',
 'delinq_2yrs',
 'earliest_cr_line',
 'fico_range_low',
 'fico_range_high',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'initial_list_status',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_d',
 'last_pymnt_amnt',
 'next_pymnt_d',
 'last_credit_pull_d',
 'last_fico_range_high',
 'last_fico_range_low',
 'collections_12_mths_ex_med',
 'mths_since_last_major_derog',
 'policy_code',
 'application_type',
 'annual_inc_joint',
 'dti_joint',
 'verification_status_joint',
 'acc_now_delinq',
 'tot_coll_amt',
 'tot_cur_bal',
 'open_acc_6m',
 'open_act_il',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'all_util',
 'total_rev_hi_lim',
 'inq_fi',
 'total_cu_tl',
 'inq_last_12m',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'pub_rec_bankruptcies',
 'tax_liens',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit',
 'revol_bal_joint',
 'sec_app_fico_range_low',
 'sec_app_fico_range_high',
 'sec_app_earliest_cr_line',
 'sec_app_inq_last_6mths',
 'sec_app_mort_acc',
 'sec_app_open_acc',
 'sec_app_revol_util',
 'sec_app_open_act_il',
 'sec_app_num_rev_accts',
 'sec_app_chargeoff_within_12_mths',
 'sec_app_collections_12_mths_ex_med',
 'sec_app_mths_since_last_major_derog',
 'hardship_flag',
 'hardship_type',
 'hardship_reason',
 'hardship_status',
 'deferral_term',
 'hardship_amount',
 'hardship_start_date',
 'hardship_end_date',
 'payment_plan_start_date',
 'hardship_length',
 'hardship_dpd',
 'hardship_loan_status',
 'orig_projected_additional_accrued_interest',
 'hardship_payoff_balance_amount',
 'hardship_last_payment_amount',
 'disbursement_method',
 'debt_settlement_flag',
 'debt_settlement_flag_date',
 'settlement_status',
 'settlement_date',
 'settlement_amount',
 'settlement_percentage',
 'settlement_term']

In [14]:
# data cleaning , i have 157 colunms , so for cleaning i breaking them down into list of coumns  

# assigning frist 7 colunms to a varible  
# hardcoding , assigning the names of the columns in by ourself 

#columns_A7=['id','member_id','loan_amnt','funded_amnt','funded_amnt_inv','term','int_rate']
#columns_B7=['installment','grade','sub_grade','emp_title','emp_length','home_ownership','annual_inc']

#instead  i can write a list comprehision 
columns_A7=[i for i in data.columns[0:7]]
columns_B7=[i for i in data.columns[7:14]]
columns_C7=[i for i in data.columns[14:21]]
columns_D7=[i for i in data.columns[21:28]]
columns_E7=[i for i in data.columns[28:35]]

In [15]:
# show the resutls of above 
data.select(columns_A7).show(3)

+--------+---------+---------+-----------+---------------+----------+--------+
|      id|member_id|loan_amnt|funded_amnt|funded_amnt_inv|      term|int_rate|
+--------+---------+---------+-----------+---------------+----------+--------+
|68407277|     NULL|     3600|       3600|         3600.0| 36 months|   13.99|
|68355089|     NULL|    24700|      24700|        24700.0| 36 months|   11.99|
|68341763|     NULL|    20000|      20000|        20000.0| 60 months|   10.78|
+--------+---------+---------+-----------+---------------+----------+--------+
only showing top 3 rows

In [16]:
data.select(columns_B7).show(3,False)

+-----------+-----+---------+------------+----------+--------------+----------+
|installment|grade|sub_grade|emp_title   |emp_length|home_ownership|annual_inc|
+-----------+-----+---------+------------+----------+--------------+----------+
|123.03     |C    |C4       |leadman     |10+ years |MORTGAGE      |55000.0   |
|820.28     |C    |C1       |Engineer    |10+ years |MORTGAGE      |65000.0   |
|432.66     |B    |B4       |truck driver|10+ years |MORTGAGE      |63000.0   |
+-----------+-----+---------+------------+----------+--------------+----------+
only showing top 3 rows

In [17]:
data.select(columns_B7).show(3, False)

+-----------+-----+---------+------------+----------+--------------+----------+
|installment|grade|sub_grade|emp_title   |emp_length|home_ownership|annual_inc|
+-----------+-----+---------+------------+----------+--------------+----------+
|123.03     |C    |C4       |leadman     |10+ years |MORTGAGE      |55000.0   |
|820.28     |C    |C1       |Engineer    |10+ years |MORTGAGE      |65000.0   |
|432.66     |B    |B4       |truck driver|10+ years |MORTGAGE      |63000.0   |
+-----------+-----+---------+------------+----------+--------------+----------+
only showing top 3 rows

In [18]:
data.select(columns_C7).show(3,False)

+-------------------+-------+-----------+----------+-----------------------------------------------------------------+----+------------------+
|verification_status|issue_d|loan_status|pymnt_plan|url                                                              |desc|purpose           |
+-------------------+-------+-----------+----------+-----------------------------------------------------------------+----+------------------+
|Not Verified       |Dec-15 |Fully Paid |n         |https://lendingclub.com/browse/loanDetail.action?loan_id=68407277|NULL|debt_consolidation|
|Not Verified       |Dec-15 |Fully Paid |n         |https://lendingclub.com/browse/loanDetail.action?loan_id=68355089|NULL|small_business    |
|Not Verified       |Dec-15 |Fully Paid |n         |https://lendingclub.com/browse/loanDetail.action?loan_id=68341763|NULL|home_improvement  |
+-------------------+-------+-----------+----------+-----------------------------------------------------------------+----+------------------+
only showing top 3 rows

In [19]:
#check for missin values 
# data.isna().sum() is used to find the null values in pandas

# pyspark :
#i am taking one colunm - id column to see of there are null values 
# filter one colunm - check isNUll - get the count to see hoe many are null
data.filter(col("id").isNull()).count()

0

In [20]:
data.filter(col("member_id").isNull()).count()

1048575

In [21]:
data.filter(col("loan_amnt").isNull()).count()

12

In [22]:
data.filter(col("funded_amnt").isNull()).count()

12

In [23]:
# percentage of missing values in colunm loan amount 
(12/1048575)*100

# the ouptu is 0.001 - this cannot be ignored even if it is a smallest number

0.001144410271082183

In [24]:
# instead of hard coding each colunm to find null values 
# we can use class or fucntions

#defining fucntion 

def check_missing_values_percent(df,c1):
    a=data.filter(col(c1).isNull()).count()
    b=data.count()
    c=(a/b)*100
    return c

In [25]:
 # calling the fucntion 
check_missing_values_percent(data,"id")

0.0

In [26]:
 check_missing_values_percent(data,"member_id")

100.0

In [27]:
 check_missing_values_percent(data,"loan_amnt")

0.001144410271082183

In [28]:
#in the above also we have to call the fucntion 151 time to find the precenatge

In [29]:
# for that i am imporving the code 

#project code
# we are jsut caluculating the count not the percent here
# defing function
def check_missing_values(df,lst_c1): # i am passing the list of colunms instead of one [id,member_id...]
    missing_values={}
    for i in lst_c1:
        a=df.filter(col(i).isNull()).count()
        missing_values[i]=a
    return missing_values

In [30]:
 # calling fucntion
# this will check 1st 7 columns null values 
check_missing_values(data,columns_A7)

{'id': 0,
 'member_id': 1048575,
 'loan_amnt': 12,
 'funded_amnt': 12,
 'funded_amnt_inv': 12,
 'term': 12,
 'int_rate': 12}

In [31]:
 #check_missing_values(data,data.columns) 
#will give all the null values in all the columns

In [32]:
# to find the percentage of missing values 

def missing_values_percent(df,lst_c1):
    missing_values_percent={}
    for i in lst_c1:
        a=df.filter(col(i).isNull()).count()
        b=df.count()
        c=(a/b)*100
        missing_values_percent[i]=c
    return missing_values_percent

In [33]:
missing_values_percent(data,columns_A7)

{'id': 0.0,
 'member_id': 100.0,
 'loan_amnt': 0.001144410271082183,
 'funded_amnt': 0.001144410271082183,
 'funded_amnt_inv': 0.001144410271082183,
 'term': 0.001144410271082183,
 'int_rate': 0.001144410271082183}

In [34]:
# check the percentage of null values in all colunms by below code 
#missing_values_percent(data,data.columns)

In [35]:
# in real time if the missing values percent is more tha n 75% we can drop that colunm
# 50 -75% check with the clients , they might send a new data or add some values and send 
# below 50 % we need to impute - meaning coder will add the values to fill the null 

# if the guest comes and i made juice which only filled 75% of the glass,
# i will add some water on the top , this is impuitng

In [36]:
# droping of colunms having null percentage greater than 75
# same code like above , slight modification 

def missing_values_percent(df,lst_c1):
    missing_values_percent_less_75={}
    missing_values_percent_more_75={} 
    for i in lst_c1:
        a=df.filter(col(i).isNull()).count()
        b=df.count()
        c=(a/b)*100
        if c>=75:
            missing_values_percent_more_75[i]=c
        else:
            missing_values_percent_less_75[i]=c
    return({"missing values more than 75%":missing_values_percent_more_75,"missing values less than 75%": missing_values_percent_less_75})

In [37]:
 #missing_values_percent(data,data.columns)

# the above code is taking more time , because it take more ram as it is spark

In [38]:
# so i will make the dictionaries global varibles and acess them outside 
def missing_values_percent(df,lst_c1):
    global missing_values_percent_less_75
    global missing_values_percent_more_75
    missing_values_percent_less_75={}
    missing_values_percent_more_75={} 
    for i in lst_c1:
        a=df.filter(col(i).isNull()).count()
        b=df.count()
        c=(a/b)*100
        if c>=75:
            missing_values_percent_more_75[i]=c
        else:
            missing_values_percent_less_75[i]=c
    return({"missing values more than 75%": missing_values_percent_more_75,"missing values less than 75%": missing_values_percent_less_75 })

In [39]:
 # missing_values_percent(data,data.columns)


# will check all the cloumns percenatge

In [40]:
#now i am acessing more than 75 
len(missing_values_percent_less_75)

NameError: name 'missing_values_percent_less_75' is not defined

In [41]:
len(missing_values_percent_more_75)

NameError: name 'missing_values_percent_more_75' is not defined

In [42]:
# to check if data has duplicates 

def check_duplicates(df,c1):
    a=df.select(c1).distinct().count()
    b=df.count()
    if a==b:
        return "No duplicates"
    else:
        c=b-a
        print("These many duplciets",c,"duplicates")

In [43]:
check_duplicates(data,"id")

'No duplicates'

In [44]:
check_duplicates(data,"member_id")

These many duplciets 1048574 duplicates

In [45]:
# how to drop the colunm 
car_data=spark.read.csv("C:\\Users\\Dell\\Desktop\\car_data.csv",header=True,inferSchema=False)

In [46]:
car_data.show(5)

+--------+----+-------------+-------------+----------+---------+-----------+------------+
|Car_Name|Year|Selling_Price|Present_Price|Kms_Driven|Fuel_Type|Seller_Type|Transmission|
+--------+----+-------------+-------------+----------+---------+-----------+------------+
|    ritz|2014|         3.35|         5.59|     27000|   Petrol|     Dealer|      Manual|
|     sx4|2013|         4.75|         9.54|     43000|   Diesel|     Dealer|      Manual|
|    ciaz|2017|         7.25|         9.85|      6900|   Petrol|     Dealer|      Manual|
| wagon r|2011|         2.85|         4.15|      5200|   Petrol|     Dealer|      Manual|
|   swift|2014|          4.6|         6.87|     42450|   Diesel|     Dealer|      Manual|
+--------+----+-------------+-------------+----------+---------+-----------+------------+
only showing top 5 rows

In [47]:
# i want to drop Seller_Type
car_data=car_data.drop("Seller_Type")

In [48]:
car_data.show(5)

+--------+----+-------------+-------------+----------+---------+------------+
|Car_Name|Year|Selling_Price|Present_Price|Kms_Driven|Fuel_Type|Transmission|
+--------+----+-------------+-------------+----------+---------+------------+
|    ritz|2014|         3.35|         5.59|     27000|   Petrol|      Manual|
|     sx4|2013|         4.75|         9.54|     43000|   Diesel|      Manual|
|    ciaz|2017|         7.25|         9.85|      6900|   Petrol|      Manual|
| wagon r|2011|         2.85|         4.15|      5200|   Petrol|      Manual|
|   swift|2014|          4.6|         6.87|     42450|   Diesel|      Manual|
+--------+----+-------------+-------------+----------+---------+------------+
only showing top 5 rows

In [49]:
# multiple colunms droping 
car_data=car_data.drop("Year","Fuel_Type")

In [50]:
car_data.show(5)

+--------+-------------+-------------+----------+------------+
|Car_Name|Selling_Price|Present_Price|Kms_Driven|Transmission|
+--------+-------------+-------------+----------+------------+
|    ritz|         3.35|         5.59|     27000|      Manual|
|     sx4|         4.75|         9.54|     43000|      Manual|
|    ciaz|         7.25|         9.85|      6900|      Manual|
| wagon r|         2.85|         4.15|      5200|      Manual|
|   swift|          4.6|         6.87|     42450|      Manual|
+--------+-------------+-------------+----------+------------+
only showing top 5 rows

In [51]:
# droping from banking project - all that are greater tha 75%
len(missing_values_percent_more_75)

NameError: name 'missing_values_percent_more_75' is not defined

In [52]:
missing_values_percent_more_75.keys()

NameError: name 'missing_values_percent_more_75' is not defined

In [53]:
# coverting the above disctionary keys into list 
columnstodrop=list(missing_values_percent_more_75.keys())

NameError: name 'missing_values_percent_more_75' is not defined

In [54]:
# list of lcumns to drop 
columnstodrop

NameError: name 'columnstodrop' is not defined

In [55]:
#to drop i am defining a fucntion 
def drop_colunms(df,c1_list):
    for i in c1_list:
        df=df.drop(i)
    return df

In [56]:
# droped 
data=drop_colunms(data,columnstodrop)

NameError: name 'columnstodrop' is not defined

In [57]:
# count  to see if they are droped 
data.count(),len(data.columns)
# so from 151 colunms , it became 111 colunms

(1048575, 151)

In [58]:
# so now some colunms are dropped , 
# #instead  i can write a list comprehision 
# columns_A7=[i for i in data.columns[0:7]]
# columns_B7=[i for i in data.columns[7:14]]
# columns_C7=[i for i in data.columns[14:21]]
# columns_D7=[i for i in data.columns[21:28]]
# columns_E7=[i for i in data.columns[28:35]]

# this code which we wrote is when all the colunms are present , 
# now we have to rerun this again 


columns_A7=[i for i in data.columns[0:7]]
columns_B7=[i for i in data.columns[7:14]]
columns_C7=[i for i in data.columns[14:21]]
columns_D7=[i for i in data.columns[21:28]]
columns_E7=[i for i in data.columns[28:35]]

In [59]:
data.select(columns_A7).show(5)
## here member id and other columns which has more than 75% missinf values

+--------+---------+---------+-----------+---------------+----------+--------+
|      id|member_id|loan_amnt|funded_amnt|funded_amnt_inv|      term|int_rate|
+--------+---------+---------+-----------+---------------+----------+--------+
|68407277|     NULL|     3600|       3600|         3600.0| 36 months|   13.99|
|68355089|     NULL|    24700|      24700|        24700.0| 36 months|   11.99|
|68341763|     NULL|    20000|      20000|        20000.0| 60 months|   10.78|
|66310712|     NULL|    35000|      35000|        35000.0| 60 months|   14.85|
|68476807|     NULL|    10400|      10400|        10400.0| 60 months|   22.45|
+--------+---------+---------+-----------+---------------+----------+--------+
only showing top 5 rows

In [60]:
# for the 111 colunms we need to do cleaning 
# lets do fist by each colunm 

# verify if each colunm has duplciates or not 
data.select("id").distinct().show(5)

+--------+
|      id|
+--------+
|68433333|
|68496924|
|68338713|
|68356724|
|68338676|
+--------+
only showing top 5 rows

In [61]:
# check the min  and max of each colunm 
data.select(min("id")).show()

+---------+
|  min(id)|
+---------+
|100001562|
+---------+

In [62]:
# in this we found that id has some text characters which should not be there
data.select(max("id")).show(1,False)

+-----------------------------------------------+
|max(id)                                        |
+-----------------------------------------------+
|Total amount funded in policy code 2: 823319310|
+-----------------------------------------------+

In [63]:
# to find if id columns has other chaarcters,  we use order by 
data.select("id").distinct().orderBy(desc("id")).show(50,False)

+------------------------------------------------+
|id                                              |
+------------------------------------------------+
|Total amount funded in policy code 2: 823319310 |
|Total amount funded in policy code 2: 651669342 |
|Total amount funded in policy code 2: 608903141 |
|Total amount funded in policy code 2: 564202131 |
|Total amount funded in policy code 2: 511988838 |
|Total amount funded in policy code 2: 1944088810|
|Total amount funded in policy code 1: 6417608175|
|Total amount funded in policy code 1: 2063142975|
|Total amount funded in policy code 1: 1791201400|
|Total amount funded in policy code 1: 1741781700|
|Total amount funded in policy code 1: 1538432075|
|Total amount funded in policy code 1: 1443412975|
|99997746                                        |
|99997705                                        |
|99997602                                        |
|99997118                                        |
|99997100                                        |
|99996455                                        |
|99995511                                        |
|99995226                                        |
|99995092                                        |
|99987495                                        |
|99986712                                        |
|99986481                                        |
|99986434                                        |
|99986050                                        |
|99986011                                        |
|99984756                                        |
|99982772                                        |
|99981908                                        |
|99977324                                        |
|99975680                                        |
|99975446                                        |
|99975274                                        |
|99975250                                        |
|99974221                                        |
|99967449                                        |
|99967163                                        |
|99966690                                        |
|99966658                                        |
|99965614                                        |
|99964323                                        |
|99962003                                        |
|99961780                                        |
|99957400                                        |
|99956528                                        |
|99956272                                        |
|99955464                                        |
|99954998                                        |
|99953867                                        |
+------------------------------------------------+
only showing top 50 rows

In [64]:
# to find how many of them are like that 
data.select("id").filter(col("id").like("%Total amount funded in policy code%")).count()

12

In [65]:
# to find easliy if the colunm id has anything other than number 
# using rlike() - regular expression like 
data.select("id").filter(col("id").rlike("^[A-Za-z]")).count()

12

In [66]:
# this is to find if any other colunms alos has characters 
# we are doing this writh respect to id 
data.select(columns_A7).filter(col("id").rlike("^[A-Za-z]")).show(10,False)

+------------------------------------------------+---------+---------+-----------+---------------+----+--------+
|id                                              |member_id|loan_amnt|funded_amnt|funded_amnt_inv|term|int_rate|
+------------------------------------------------+---------+---------+-----------+---------------+----+--------+
|Total amount funded in policy code 1: 6417608175|NULL     |NULL     |NULL       |NULL           |NULL|NULL    |
|Total amount funded in policy code 2: 1944088810|NULL     |NULL     |NULL       |NULL           |NULL|NULL    |
|Total amount funded in policy code 1: 1741781700|NULL     |NULL     |NULL       |NULL           |NULL|NULL    |
|Total amount funded in policy code 2: 564202131 |NULL     |NULL     |NULL       |NULL           |NULL|NULL    |
|Total amount funded in policy code 1: 1791201400|NULL     |NULL     |NULL       |NULL           |NULL|NULL    |
|Total amount funded in policy code 2: 651669342 |NULL     |NULL     |NULL       |NULL           |NULL|NULL    |
|Total amount funded in policy code 1: 1443412975|NULL     |NULL     |NULL       |NULL           |NULL|NULL    |
|Total amount funded in policy code 2: 511988838 |NULL     |NULL     |NULL       |NULL           |NULL|NULL    |
|Total amount funded in policy code 1: 2063142975|NULL     |NULL     |NULL       |NULL           |NULL|NULL    |
|Total amount funded in policy code 2: 823319310 |NULL     |NULL     |NULL       |NULL           |NULL|NULL    |
+------------------------------------------------+---------+---------+-----------+---------------+----+--------+
only showing top 10 rows

In [67]:
# this find specific to id colunm 
data.select(columns_A7).filter(col("id").like("%Total amount funded in policy code%")).show(10,False)

+------------------------------------------------+---------+---------+-----------+---------------+----+--------+
|id                                              |member_id|loan_amnt|funded_amnt|funded_amnt_inv|term|int_rate|
+------------------------------------------------+---------+---------+-----------+---------------+----+--------+
|Total amount funded in policy code 1: 6417608175|NULL     |NULL     |NULL       |NULL           |NULL|NULL    |
|Total amount funded in policy code 2: 1944088810|NULL     |NULL     |NULL       |NULL           |NULL|NULL    |
|Total amount funded in policy code 1: 1741781700|NULL     |NULL     |NULL       |NULL           |NULL|NULL    |
|Total amount funded in policy code 2: 564202131 |NULL     |NULL     |NULL       |NULL           |NULL|NULL    |
|Total amount funded in policy code 1: 1791201400|NULL     |NULL     |NULL       |NULL           |NULL|NULL    |
|Total amount funded in policy code 2: 651669342 |NULL     |NULL     |NULL       |NULL           |NULL|NULL    |
|Total amount funded in policy code 1: 1443412975|NULL     |NULL     |NULL       |NULL           |NULL|NULL    |
|Total amount funded in policy code 2: 511988838 |NULL     |NULL     |NULL       |NULL           |NULL|NULL    |
|Total amount funded in policy code 1: 2063142975|NULL     |NULL     |NULL       |NULL           |NULL|NULL    |
|Total amount funded in policy code 2: 823319310 |NULL     |NULL     |NULL       |NULL           |NULL|NULL    |
+------------------------------------------------+---------+---------+-----------+---------------+----+--------+
only showing top 10 rows

In [68]:
data.count()
# from this we found that 12 colunms of id with the string values---> has null in all other coulnms
# as well -- so its better to drop these 12 columns

1048575

In [69]:
# now we are droping these 12 ROWS with null values in the colunms
# we are checking all the colunms and then filter with respect to id
# if any colunm has charcters like A-Za-z, it will be see
# but ~ will do opposite of what is asked 
data=data.select("*").filter(~col("id").rlike("^[A-Za-z]"))

In [70]:
# if suddenly the type of data frame becomes none type instead of pyspark
# run the path of data code again and then check the tyep 
type(data)

pyspark.sql.classic.dataframe.DataFrame

In [71]:
data.count()
# now the 12 rows are removed

1048563

In [72]:
data.select(columns_A7).show(5,False)

+--------+---------+---------+-----------+---------------+----------+--------+
|id      |member_id|loan_amnt|funded_amnt|funded_amnt_inv|term      |int_rate|
+--------+---------+---------+-----------+---------------+----------+--------+
|68407277|NULL     |3600     |3600       |3600.0         | 36 months|13.99   |
|68355089|NULL     |24700    |24700      |24700.0        | 36 months|11.99   |
|68341763|NULL     |20000    |20000      |20000.0        | 60 months|10.78   |
|66310712|NULL     |35000    |35000      |35000.0        | 60 months|14.85   |
|68476807|NULL     |10400    |10400      |10400.0        | 60 months|22.45   |
+--------+---------+---------+-----------+---------------+----------+--------+
only showing top 5 rows

In [73]:
# clean the colunm term 
data.select("term").distinct().show(10)

# in case we want to calucte the average term , we cannot do it as this colunms has 
# "months " word in it , which wont allow for any calucations

+----------+
|      term|
+----------+
| 36 months|
| 60 months|
+----------+

In [74]:
#so to do calucations i will convert it into :
# term in month 36 
# term in month 60 
#first create a new colunm , then use regexp_replace() fucntion --it is a in bulit function
# replacter in term colunm --"months" word---with "" nothing , means empty
# trim is used to remove spaces 

data=data.withColumn("term_in_months",trim(regexp_replace(col("term"),"months","")))

In [75]:

#changes 
data.select("term","term_in_months").distinct().show()

+----------+--------------+
|      term|term_in_months|
+----------+--------------+
| 36 months|            36|
| 60 months|            60|
+----------+--------------+

In [76]:
# we are cleaning categorical data first 
# now lets see other colunms 

data.select(columns_B7).show(5,False)

+-----------+-----+---------+---------------------------+----------+--------------+----------+
|installment|grade|sub_grade|emp_title                  |emp_length|home_ownership|annual_inc|
+-----------+-----+---------+---------------------------+----------+--------------+----------+
|123.03     |C    |C4       |leadman                    |10+ years |MORTGAGE      |55000.0   |
|820.28     |C    |C1       |Engineer                   |10+ years |MORTGAGE      |65000.0   |
|432.66     |B    |B4       |truck driver               |10+ years |MORTGAGE      |63000.0   |
|829.9      |C    |C5       |Information Systems Officer|10+ years |MORTGAGE      |110000.0  |
|289.91     |F    |F1       |Contract Specialist        |3 years   |MORTGAGE      |104433.0  |
+-----------+-----+---------+---------------------------+----------+--------------+----------+
only showing top 5 rows

In [77]:
# cleanign emp_lenght 
data.select("emp_length").distinct().show(20)

+----------+
|emp_length|
+----------+
|   5 years|
|   9 years|
|    1 year|
|   2 years|
|   7 years|
|   8 years|
|   4 years|
|   6 years|
|   3 years|
| 10+ years|
|  < 1 year|
|      NULL|
+----------+

In [78]:
# finding the row with "reactors" which is how above .. all colmns form A7 as well

data.select(columns_A7).filter(col('emp_length')==' reactors"').show(10)

+---+---------+---------+-----------+---------------+----+--------+
| id|member_id|loan_amnt|funded_amnt|funded_amnt_inv|term|int_rate|
+---+---------+---------+-----------+---------------+----+--------+
+---+---------+---------+-----------+---------------+----+--------+

In [79]:
#same with B7 
# emp_title shouls have reactors , but it was splited and lead to moving 
# reactors to emp_leght , 2 years to home owener 
data.select(columns_B7).filter(col('emp_length')==' reactors"').show(10)

+-----------+-----+---------+---------+----------+--------------+----------+
|installment|grade|sub_grade|emp_title|emp_length|home_ownership|annual_inc|
+-----------+-----+---------+---------+----------+--------------+----------+
+-----------+-----+---------+---------+----------+--------------+----------+

In [80]:
# we can use "escape" for ignoring "" in the above isssue ,
# write escape ='"' in the path at the starting

In [81]:
# now reactor wont be seen 
data.select("emp_length").distinct().show(20)

+----------+
|emp_length|
+----------+
|   5 years|
|   9 years|
|    1 year|
|   2 years|
|   7 years|
|   8 years|
|   4 years|
|   6 years|
|   3 years|
| 10+ years|
|  < 1 year|
|      NULL|
+----------+

In [82]:
# now cleaning this column, remvoing years ,year,<,+,spacesso that we can acess only integers

#use trim to remove spaces 

data=data.withColumn("emp_length_in_years",regexp_replace(col("emp_length"),"years",""))
data=data.withColumn("emp_length_in_years",regexp_replace(col("emp_length"),"year",""))
data=data.withColumn("emp_length_in_years",regexp_replace(col("emp_length"),"+",""))
data=data.withColumn("emp_length_in_years",regexp_replace(col("emp_length"),"<",""))
data=data.withColumn("emp_legth_in_years",trim(col("emp_length")))

In [83]:
# instead of replacing everything we can "d+" to acess digtis and regular expresision_extact ,and indexing with zero if we want zero-th element fro mutiple number
# no special characters will be extracted 
#syntax-regexp_extract(str,pattern,index)

data=data.withColumn("emp_length_in_years",regexp_extract(col("emp_length"),"\\d+",0))

In [84]:
data.select("emp_length","emp_length_in_years").distinct().show(20)

+----------+-------------------+
|emp_length|emp_length_in_years|
+----------+-------------------+
|   6 years|                  6|
|   3 years|                  3|
| 10+ years|                 10|
|   7 years|                  7|
|  < 1 year|                  1|
|   4 years|                  4|
|   8 years|                  8|
|   2 years|                  2|
|   9 years|                  9|
|    1 year|                  1|
|   5 years|                  5|
|      NULL|               NULL|
+----------+-------------------+

In [85]:
# other colunm 
data.select(columns_B7).show(5)

+-----------+-----+---------+--------------------+----------+--------------+----------+
|installment|grade|sub_grade|           emp_title|emp_length|home_ownership|annual_inc|
+-----------+-----+---------+--------------------+----------+--------------+----------+
|     123.03|    C|       C4|             leadman| 10+ years|      MORTGAGE|   55000.0|
|     820.28|    C|       C1|            Engineer| 10+ years|      MORTGAGE|   65000.0|
|     432.66|    B|       B4|        truck driver| 10+ years|      MORTGAGE|   63000.0|
|      829.9|    C|       C5|Information Syste...| 10+ years|      MORTGAGE|  110000.0|
|     289.91|    F|       F1| Contract Specialist|   3 years|      MORTGAGE|  104433.0|
+-----------+-----+---------+--------------------+----------+--------------+----------+
only showing top 5 rows

In [86]:
# grade colunm cleaning 
# finding duplicates 
data.select("grade").distinct().show(10)

+-----+
|grade|
+-----+
|    F|
|    E|
|    B|
|    D|
|    C|
|    A|
|    G|
+-----+

In [87]:
data.select(columns_A7).filter(col("grade").isNull()).show(10)

+---+---------+---------+-----------+---------------+----+--------+
| id|member_id|loan_amnt|funded_amnt|funded_amnt_inv|term|int_rate|
+---+---------+---------+-----------+---------------+----+--------+
+---+---------+---------+-----------+---------------+----+--------+

In [88]:
#grdae is singel digit and it should be only one in all row , FF is  not possible 
# check if the garde in all row is one character only or not
# it is empty menaing that all the row have garde with one character only 
# so nothing to clean 
data.select("grade").filter(length(col("grade"))>1).show()

+-----+
|grade|
+-----+
+-----+

In [89]:
# subgrade column

data.select("sub_grade").distinct().show(10)

+---------+
|sub_grade|
+---------+
|       D5|
|       F2|
|       B4|
|       A2|
|       E4|
|       B2|
|       C3|
|       D1|
|       C4|
|       F1|
+---------+
only showing top 10 rows

In [90]:
# so sub grade has 2 charcaters , check if all the rows h=in sub grade have 2 characters only or not -- and it should not give any results to be correct
# it give empty which means no  sub grade is greater than 2 characters
data.select("sub_grade").filter(length(col("sub_grade"))>2).show(10)

+---------+
|sub_grade|
+---------+
+---------+

In [91]:
#in real time also documentation like below is required 
#colunms cleaned till now
# removed 40 colunms (missing values more than 75 removed)
#term---terms in months
# emp_lenght---emp_lenght_in_years
#grade--checked--no change
#sub grade--checked--no change
#repalced null values in emp title wit others

In [92]:
 # ttile colunm--- people who can take loan 
data.select("emp_title").distinct().show(40,False)

+------------------------------------+
|emp_title                           |
+------------------------------------+
|Physician                           |
|Systems Administrator II            |
|librarian                           |
|PAYABLES                            |
|Client Support Specialist II        |
|CSR                                 |
|Technitian                          |
|machinist                           |
|Financial assistant                 |
|Scientist                           |
|Digital Marketing Manager           |
|Service Writer                      |
|Risk Manager II                     |
|Vice President, Director of Research|
|Regional sales manager              |
|Tax Collections Supervisor          |
|Park Manager                        |
|Behavior specialist                 |
|Lead organizer                      |
|Journeyman Electrician              |
|Content Editor                      |
|Senior system                       |
|Remedial Project Manager            |
|Clinic Director                     |
|director of underwriting & funding  |
|Sanitation worker                   |
|BULK DRIVER                         |
|IT Development Manager              |
|Testing Specialist                  |
|Implementation Consultant           |
|financial consultant                |
|Deli Attendant                      |
|Training Specialist                 |
|Senior Solution Consultant          |
|Government info. Specialist         |
|Affiliate Manager                   |
|Product Inspector                   |
|Direct Support Professional         |
|Service Engeneer                    |
|crossing guard                      |
+------------------------------------+
only showing top 40 rows

In [93]:
# emp title has missing values as seen in starting ---like aorund 7% missing values

In [94]:
data.groupby("emp_title").count().orderBy(desc("count")).show(50,False)

+------------------------+-----+
|emp_title               |count|
+------------------------+-----+
|NULL                    |73479|
|Teacher                 |19859|
|Manager                 |17547|
|Owner                   |11416|
|Registered Nurse        |7918 |
|RN                      |7523 |
|Driver                  |7411 |
|Supervisor              |7357 |
|Sales                   |6720 |
|Project Manager         |5576 |
|Office Manager          |4997 |
|General Manager         |4683 |
|Director                |4647 |
|owner                   |4551 |
|President               |3969 |
|Engineer                |3802 |
|manager                 |3614 |
|teacher                 |3523 |
|Operations Manager      |3095 |
|Vice President          |2977 |
|driver                  |2846 |
|Accountant              |2831 |
|Attorney                |2831 |
|Sales Manager           |2803 |
|Administrative Assistant|2718 |
|Nurse                   |2629 |
|Truck Driver            |2469 |
|Account Manager         |2438 |
|Technician              |2350 |
|Police Officer          |2259 |
|Analyst                 |2203 |
|Server                  |2144 |
|Executive Assistant     |2074 |
|Store Manager           |2069 |
|sales                   |2011 |
|Paralegal               |1926 |
|Software Engineer       |1904 |
|Mechanic                |1840 |
|supervisor              |1802 |
|Consultant              |1739 |
|Program Manager         |1669 |
|CEO                     |1664 |
|Controller              |1661 |
|Assistant Manager       |1655 |
|Branch Manager          |1610 |
|Supervisor              |1595 |
|Foreman                 |1546 |
|Administrator           |1526 |
|truck driver            |1520 |
|Electrician             |1510 |
+------------------------+-----+
only showing top 50 rows

In [95]:
# if you see in above output, teacher, manager and some others are given two times-- this is beacuse they are case sensitive
# teacher--- Teacher both are same only , os we are equaling them with upper and lower case ---we are suing lower() fucntion 


# can use initcap() as well instead pf lower()---> will convert first charcter into lower case 
data=data.withColumn("emp_title",lower(col("emp_title")))

In [96]:

# now if we run the same code again changes in the numbers can be seen -- for example see for techer -- from 19,000 to 23,000
data.groupby("emp_title").count().orderBy(desc("count")).show(50,False)

+------------------------+-----+
|emp_title               |count|
+------------------------+-----+
|NULL                    |73479|
|teacher                 |23706|
|manager                 |21888|
|owner                   |16654|
|registered nurse        |10682|
|driver                  |10595|
|supervisor              |9508 |
|sales                   |9118 |
|rn                      |8512 |
|office manager          |6738 |
|project manager         |6508 |
|general manager         |6135 |
|truck driver            |5561 |
|director                |5005 |
|president               |4666 |
|engineer                |4404 |
|sales manager           |4047 |
|operations manager      |3775 |
|nurse                   |3508 |
|police officer          |3374 |
|vice president          |3344 |
|store manager           |3289 |
|accountant              |3235 |
|attorney                |3150 |
|technician              |3130 |
|administrative assistant|3092 |
|account manager         |2945 |
|mechanic                |2862 |
|server                  |2834 |
|assistant manager       |2474 |
|analyst                 |2441 |
|executive assistant     |2250 |
|paralegal               |2197 |
|software engineer       |2153 |
|branch manager          |2146 |
|foreman                 |2132 |
|customer service        |2106 |
|electrician             |2072 |
|operator                |1982 |
|consultant              |1919 |
|program manager         |1910 |
|ceo                     |1834 |
|controller              |1831 |
|supervisor              |1801 |
|clerk                   |1790 |
|administrator           |1700 |
|machine operator        |1692 |
|principal               |1535 |
|lpn                     |1532 |
|account executive       |1505 |
+------------------------+-----+
only showing top 50 rows

In [97]:
#imputing null values 
# menas filling the null with something---> here we including others
data=data.fillna("others",subset=["emp_title"])

In [98]:
data.groupby("emp_title").count().orderBy(desc("count")).show(50,False)

+------------------------+-----+
|emp_title               |count|
+------------------------+-----+
|others                  |73480|
|teacher                 |23706|
|manager                 |21888|
|owner                   |16654|
|registered nurse        |10682|
|driver                  |10595|
|supervisor              |9508 |
|sales                   |9118 |
|rn                      |8512 |
|office manager          |6738 |
|project manager         |6508 |
|general manager         |6135 |
|truck driver            |5561 |
|director                |5005 |
|president               |4666 |
|engineer                |4404 |
|sales manager           |4047 |
|operations manager      |3775 |
|nurse                   |3508 |
|police officer          |3374 |
|vice president          |3344 |
|store manager           |3289 |
|accountant              |3235 |
|attorney                |3150 |
|technician              |3130 |
|administrative assistant|3092 |
|account manager         |2945 |
|mechanic                |2862 |
|server                  |2834 |
|assistant manager       |2474 |
|analyst                 |2441 |
|executive assistant     |2250 |
|paralegal               |2197 |
|software engineer       |2153 |
|branch manager          |2146 |
|foreman                 |2132 |
|customer service        |2106 |
|electrician             |2072 |
|operator                |1982 |
|consultant              |1919 |
|program manager         |1910 |
|ceo                     |1834 |
|controller              |1831 |
|supervisor              |1801 |
|clerk                   |1790 |
|administrator           |1700 |
|machine operator        |1692 |
|principal               |1535 |
|lpn                     |1532 |
|account executive       |1505 |
+------------------------+-----+
only showing top 50 rows

In [99]:

# check all the sets of the colunms like A--E we have assigned and check each column names and clean it 
data.select(columns_A7).show(10,False)

+--------+---------+---------+-----------+---------------+----------+--------+
|id      |member_id|loan_amnt|funded_amnt|funded_amnt_inv|term      |int_rate|
+--------+---------+---------+-----------+---------------+----------+--------+
|68407277|NULL     |3600     |3600       |3600.0         | 36 months|13.99   |
|68355089|NULL     |24700    |24700      |24700.0        | 36 months|11.99   |
|68341763|NULL     |20000    |20000      |20000.0        | 60 months|10.78   |
|66310712|NULL     |35000    |35000      |35000.0        | 60 months|14.85   |
|68476807|NULL     |10400    |10400      |10400.0        | 60 months|22.45   |
|68426831|NULL     |11950    |11950      |11950.0        | 36 months|13.44   |
|68476668|NULL     |20000    |20000      |20000.0        | 36 months|9.17    |
|67275481|NULL     |20000    |20000      |20000.0        | 36 months|8.49    |
|68466926|NULL     |10000    |10000      |10000.0        | 36 months|6.49    |
|68616873|NULL     |8000     |8000       |8000.0         | 36 months|11.48   |
+--------+---------+---------+-----------+---------------+----------+--------+
only showing top 10 rows

In [100]:
data.select(columns_B7).show(10,False)

+-----------+-----+---------+---------------------------------------+----------+--------------+----------+
|installment|grade|sub_grade|emp_title                              |emp_length|home_ownership|annual_inc|
+-----------+-----+---------+---------------------------------------+----------+--------------+----------+
|123.03     |C    |C4       |leadman                                |10+ years |MORTGAGE      |55000.0   |
|820.28     |C    |C1       |engineer                               |10+ years |MORTGAGE      |65000.0   |
|432.66     |B    |B4       |truck driver                           |10+ years |MORTGAGE      |63000.0   |
|829.9      |C    |C5       |information systems officer            |10+ years |MORTGAGE      |110000.0  |
|289.91     |F    |F1       |contract specialist                    |3 years   |MORTGAGE      |104433.0  |
|405.18     |C    |C3       |veterinary tecnician                   |4 years   |RENT          |34000.0   |
|637.58     |B    |B2       |vice president of recruiting operations|10+ years |MORTGAGE      |180000.0  |
|631.26     |B    |B1       |road driver                            |10+ years |MORTGAGE      |85000.0   |
|306.45     |A    |A2       |service manager                        |6 years   |RENT          |85000.0   |
|263.74     |B    |B5       |vendor liaison                         |10+ years |MORTGAGE      |42000.0   |
+-----------+-----+---------+---------------------------------------+----------+--------------+----------+
only showing top 10 rows

In [101]:
data.select("home_ownership").distinct().show(10)

+--------------+
|home_ownership|
+--------------+
|           OWN|
|          RENT|
|      MORTGAGE|
|           ANY|
|          NONE|
+--------------+

In [102]:
data.select(columns_C7).show(10,False)

+-------------------+-------+-----------+----------+-----------------------------------------------------------------+----+------------------+
|verification_status|issue_d|loan_status|pymnt_plan|url                                                              |desc|purpose           |
+-------------------+-------+-----------+----------+-----------------------------------------------------------------+----+------------------+
|Not Verified       |Dec-15 |Fully Paid |n         |https://lendingclub.com/browse/loanDetail.action?loan_id=68407277|NULL|debt_consolidation|
|Not Verified       |Dec-15 |Fully Paid |n         |https://lendingclub.com/browse/loanDetail.action?loan_id=68355089|NULL|small_business    |
|Not Verified       |Dec-15 |Fully Paid |n         |https://lendingclub.com/browse/loanDetail.action?loan_id=68341763|NULL|home_improvement  |
|Source Verified    |Dec-15 |Current    |n         |https://lendingclub.com/browse/loanDetail.action?loan_id=66310712|NULL|debt_consolidation|
|Source Verified    |Dec-15 |Fully Paid |n         |https://lendingclub.com/browse/loanDetail.action?loan_id=68476807|NULL|major_purchase    |
|Source Verified    |Dec-15 |Fully Paid |n         |https://lendingclub.com/browse/loanDetail.action?loan_id=68426831|NULL|debt_consolidation|
|Not Verified       |Dec-15 |Fully Paid |n         |https://lendingclub.com/browse/loanDetail.action?loan_id=68476668|NULL|debt_consolidation|
|Not Verified       |Dec-15 |Fully Paid |n         |https://lendingclub.com/browse/loanDetail.action?loan_id=67275481|NULL|major_purchase    |
|Not Verified       |Dec-15 |Fully Paid |n         |https://lendingclub.com/browse/loanDetail.action?loan_id=68466926|NULL|credit_card       |
|Not Verified       |Dec-15 |Fully Paid |n         |https://lendingclub.com/browse/loanDetail.action?loan_id=68616873|NULL|credit_card       |
+-------------------+-------+-----------+----------+-----------------------------------------------------------------+----+------------------+
only showing top 10 rows

In [103]:
data.select("loan_status").distinct().show(10)

+------------------+
|       loan_status|
+------------------+
|        Fully Paid|
|           Default|
|   In Grace Period|
|       Charged Off|
|Late (31-120 days)|
|           Current|
| Late (16-30 days)|
+------------------+

In [104]:
data.select("pymnt_plan").distinct().show(10)

+----------+
|pymnt_plan|
+----------+
|         n|
|         y|
+----------+

In [105]:
data.select("purpose").distinct().show(10)

+------------------+
|           purpose|
+------------------+
|           wedding|
|             other|
|    small_business|
|debt_consolidation|
|       credit_card|
|            moving|
|          vacation|
|  renewable_energy|
|             house|
|               car|
+------------------+
only showing top 10 rows

In [106]:
data.select(columns_D7).show(10,False)

+-----------------------+--------+----------+-----+-----------+----------------+--------------+
|title                  |zip_code|addr_state|dti  |delinq_2yrs|earliest_cr_line|fico_range_low|
+-----------------------+--------+----------+-----+-----------+----------------+--------------+
|Debt consolidation     |190xx   |PA        |5.91 |0          |Aug-03          |675           |
|Business               |577xx   |SD        |16.06|1          |Dec-99          |715           |
|NULL                   |605xx   |IL        |10.78|0          |Aug-00          |695           |
|Debt consolidation     |076xx   |NJ        |17.06|0          |Sep-08          |785           |
|Major purchase         |174xx   |PA        |25.37|1          |Jun-98          |695           |
|Debt consolidation     |300xx   |GA        |10.2 |0          |Oct-87          |690           |
|Debt consolidation     |550xx   |MN        |14.67|0          |Jun-90          |680           |
|Major purchase         |293xx   |SC        |17.61|1          |Feb-99          |705           |
|Credit card refinancing|160xx   |PA        |13.07|0          |Apr-02          |685           |
|Credit card refinancing|029xx   |RI        |34.8 |0          |Nov-94          |700           |
+-----------------------+--------+----------+-----+-----------+----------------+--------------+
only showing top 10 rows

In [110]:
data.select("zip_code").distinct().show(100)

+--------+
|zip_code|
+--------+
|   471xx|
|   418xx|
|   230xx|
|   957xx|
|   223xx|
|   143xx|
|   751xx|
|   183xx|
|   154xx|
|   371xx|
|   591xx|
|   831xx|
|   287xx|
|   535xx|
|   756xx|
|   179xx|
|   216xx|
|   625xx|
|   895xx|
|   387xx|
|   436xx|
|   355xx|
|   244xx|
|   017xx|
|   923xx|
|   446xx|
|   397xx|
|   136xx|
|   159xx|
|   784xx|
|   564xx|
|   973xx|
|   544xx|
|   780xx|
|   385xx|
|   660xx|
|   902xx|
|   309xx|
|   386xx|
|   731xx|
|   669xx|
|   601xx|
|   943xx|
|   703xx|
|   713xx|
|   672xx|
|   971xx|
|   469xx|
|   965xx|
|   850xx|
|   480xx|
|   499xx|
|   572xx|
|   962xx|
|   497xx|
|   665xx|
|   997xx|
|   773xx|
|   765xx|
|   951xx|
|   339xx|
|   662xx|
|   753xx|
|   834xx|
|   292xx|
|   571xx|
|   026xx|
|   594xx|
|   360xx|
|   359xx|
|   916xx|
|   640xx|
|   021xx|
|   130xx|
|   049xx|
|   664xx|
|   356xx|
|   491xx|
|   410xx|
|   725xx|
|   369xx|
|   218xx|
|   279xx|
|   712xx|
|   023xx|
|   782xx|
|   846xx|
|   628xx|
|   007xx|
|   301xx|
|   450xx|
|   903xx|
|   214xx|
|   265xx|
|   137xx|
|   522xx|
|   340xx|
|   766xx|
|   200xx|
|   302xx|
+--------+
only showing top 100 rows

In [111]:
data.select("zip_code").filter(length(col("sub_grade"))>2).show(10)

+--------+
|zip_code|
+--------+
+--------+